<h1 class="heading center">FORMS</h1>
<div class="form-wrapper">
    <div class="span6 input-wrapper">
        <label for="">First Name</label>
        <input type="text" placeholder="placeholder">
    </div>
    <div class="span6 input-wrapper">
            <label for="">Last Name</label>
            <input type="text" placeholder="placeholder">
    </div>
    <div class="span6 input-wrapper">
            <label for="">Email</label>
            <input type="email" placeholder="placeholder">
    </div>
    <div class="span6 input-wrapper">
            <label for="">Mobile</label>
            <input type="number" placeholder="placeholder">
    </div>
    <div class="span6 input-wrapper">
            <label for="">Password</label>
            <input type="password" placeholder="placeholder">
    </div>
    <div class="span6 input-wrapper">
            <label for="">Confirm Password</label>
            <input type="password" placeholder="placeholder">
    </div>
</div>


<pre><code highlight [code]="code" (highlighted)="onHighlight($event)" ></code></pre>
<br><br>
<h2 class="center">Individual Elements</h2><br>

<div class="form-wrapper">

<div class="span6 input-wrapper">
<h3 class="">Select Types</h3>
<br>
<select name="" id="">
        <option value="">Select Option</option>
        <option value="">Vegetables</option>
        <option value="">Eggs</option>
        <option value="">Fish</option>
        <option value="">Bread</option>
</select>
</div>
<div class="span12">
<h3>Checkboxes</h3><br>
<div class=" input-wrapper">
        <input type="checkbox" name="" id="1">
        <label for="1">Option One</label>

</div>
<div class=" input-wrapper">
        <input type="checkbox" name="" id="2">
        <label for="2">Option Two</label>

</div>
<div class=" input-wrapper">
        <input type="checkbox" name="" id="3">
        <label for="3">Option Three</label>

</div>
</div>
</div><!-- form wrapper -->

