<a href="#" class="navbar-brand">WALLACE</a>

<ul class="nav-links">
    <li><a class="links" routerLink="/dashboard" (click)='addActive($event)'>Dashboard</a></li>
    <li><a class="links" href="#">Calendar</a></li>
    <li><a class="links" href="#">Chat</a></li>
    <li><a class="links" href="#">Chart</a></li>
    <li><a class="links" routerLink="/forms" (click)='addActive($event)'>Forms</a></li>
    <li><a class="links" routerLink="/ui-elements" > UI Elements</a></li>
    <li><a class="links" href="#">Tables</a></li>
</ul>